<!-- Desktop/Tablet Navbar -->

<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top custom-navbar">
  <div class="container-fluid">
    <!-- Logo/Brand -->
    <a class="navbar-brand d-flex align-items-center" href="/">
      <i class="fa-solid fa-house-circle-check fa-xl me-2" style="color: #ff4268;"></i>
      <span class="brand-text">WanderStay</span>
    </a>

    <!-- Search Bar (Desktop/Tablet) -->
    <div class="search-container d-none d-md-flex">
      <div class="search-bar">
        <input type="text" class="form-control search-input" placeholder="Search destinations...">
        <button class="search-btn" type="button">
          <i class="fa-solid fa-search"></i>
        </button>
      </div>
    </div>

    <!-- Right Side Menu (Desktop/Tablet) -->
    <div class="navbar-nav ms-auto d-none d-md-flex align-items-center">
      <% if(!currUser) { %>
        <a class="nav-link add-new-btn me-2" href="/listings/new">
          <i class="fa-solid fa-plus me-1"></i>Add New
        </a>
        <a class="btn btn-outline-primary me-2" href="/login">Login</a>
        <a class="btn btn-primary" href="/signup">Sign Up</a>
      <% } else { %>
        <a class="nav-link add-new-btn me-3" href="/listings/new">
          <i class="fa-solid fa-plus me-1"></i>Add New
        </a>
        <!-- User Dropdown -->
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle user-btn" type="button" data-bs-toggle="dropdown">
            <i class="fa-solid fa-user-circle fa-lg"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/logout">
              <i class="fa-solid fa-sign-out-alt me-2"></i>Logout
            </a></li>
          </ul>
        </div>
      <% } %>
    </div>
  </div>
</nav>


<!-- Mobile Bottom Navigation -->
<nav class="bottom-nav d-md-none">
  <div class="bottom-nav-container">
    <a href="/listings" class="bottom-nav-item">
      <i class="fa-solid fa-list"></i>
      <span>Explore</span>
    </a>
    
    <% if(!currUser) { %>
      <a href="/listings/new" class="bottom-nav-item">
        <i class="fa-solid fa-plus"></i>
        <span>Add New</span>
      </a>
      <a href="/login" class="bottom-nav-item">
        <i class="fa-solid fa-sign-in-alt"></i>
        <span>Login</span>
      </a>
      <a href="/signup" class="bottom-nav-item">
        <i class="fa-solid fa-user-plus"></i>
        <span>Sign Up</span>
      </a>
    <% } else { %>
      <a href="/listings/new" class="bottom-nav-item">
        <i class="fa-solid fa-plus"></i>
        <span>Add New</span>
      </a>
      <a href="/logout" class="bottom-nav-item">
        <i class="fa-solid fa-sign-out-alt"></i>
        <span>Logout</span>
      </a>
    <% } %>
  </div>
</nav>

<!-- Add padding to body for bottom nav on mobile -->
<div class="mobile-spacer d-md-none"></div>